@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Bold"), local("Helvetica-Bold"), url("../fonts/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica-Bold.woff") format("woff"), url("../fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, taxtarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  overflow: visible;
}

.main__featured {
  margin-top: 150px;
}
@media (max-width: 1200px) {
  .main__featured {
    margin-top: calc(50px + 100 * (100vw - 320px) / 880);
  }
}

.featured__title {
  margin-top: 0;
}

.main__product {
  margin-top: 210px;
}
@media (max-width: 767.98px) {
  .main__product {
    margin-top: calc(130px + 60 * (100vw - 320px) / 447.98);
  }
}

.product__wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
      grid-template-areas: "preview about" "info about";
}
@media (max-width: 767.98px) {
  .product__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.product__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #1E1E1E;
}
@media (max-width: 991.98px) {
  .product__title {
    font-size: calc(36px + 4 * (100vw - 320px) / 671.98);
  }
}

.product-preview {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  max-width: 735px;
  overflow: hidden;
  width: 50vw;
  grid-area: preview;
}
@media (max-width: 991.98px) {
  .product-preview {
    width: 45vw;
  }
}
@media (max-width: 767.98px) {
  .product-preview {
    max-width: none;
    width: auto;
  }
}

.product-header {
  margin-top: 24px;
}
.product-header__address {
  margin: 14px 0 30px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #424242;
}
@media (max-width: 991.98px) {
  .product-header__address {
    font-size: calc(14px + 6 * (100vw - 320px) / 671.98);
  }
}
.product-header__address span {
  font-weight: 600;
}
.product-header__descr {
  width: 100%;
}

.prod-descr__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media (max-width: 1200px) {
  .prod-descr__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .prod-descr__list {
    gap: calc(17px + 33 * (100vw - 320px) / 671.98);
  }
}
@media (max-width: 767.98px) {
  .prod-descr__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.prod-descr__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
@media (max-width: 991.98px) {
  .prod-descr__el {
    gap: calc(10px + 5 * (100vw - 320px) / 671.98);
  }
}
.prod-descr__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 118%;
  color: #424242;
}
@media (max-width: 991.98px) {
  .prod-descr__title {
    font-size: calc(12px + 12 * (100vw - 320px) / 671.98);
  }
}
.prod-descr__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media (max-width: 991.98px) {
  .prod-descr__descr {
    gap: calc(5.6px + 4.4 * (100vw - 320px) / 671.98);
  }
}
.prod-descr__icon {
  width: 34px;
  height: 34px;
}
@media (max-width: 991.98px) {
  .prod-descr__icon {
    width: calc(19px + 15 * (100vw - 320px) / 671.98);
    height: calc(19px + 15 * (100vw - 320px) / 671.98);
  }
}
.prod-descr__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.prod-descr__value {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
}
@media (max-width: 991.98px) {
  .prod-descr__value {
    font-size: calc(12px + 8 * (100vw - 320px) / 671.98);
  }
}

.product-aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: about;
  padding-left: 50px;
}
@media (max-width: 767.98px) {
  .product-aside {
    padding: 0;
  }
}
.product-aside__wrapper {
  max-width: 500px;
  padding: 26px 0 22px 50px;
  margin-left: auto;
  border-left: 1px solid #8E8E8E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 100vh;
  overflow: auto;
}
@media (max-width: 991.98px) {
  .product-aside__wrapper {
    padding-left: calc(30px + 20 * (100vw - 767.98px) / 224);
  }
}
@media (max-width: 767.98px) {
  .product-aside__wrapper {
    overflow: visible;
    max-width: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    padding-bottom: 0;
  }
}
.product-aside__wrapper::-webkit-scrollbar {
  width: 8px;
}
.product-aside__wrapper::-webkit-scrollbar-track {
  background: #D2E5E9;
  border-radius: 14px;
}
@media (max-width: 1200px) {
  .product-aside__wrapper::-webkit-scrollbar-track {
    border-radius: calc(6px + 8 * (100vw - 320px) / 880);
  }
}
.product-aside__wrapper::-webkit-scrollbar-thumb {
  background: #1A2E47;
  border-radius: 14px;
}
@media (max-width: 1200px) {
  .product-aside__wrapper::-webkit-scrollbar-thumb {
    border-radius: calc(6px + 8 * (100vw - 320px) / 880);
  }
}

.product-info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
}

.product-preview__slider {
  position: relative;
}
.product-preview__slider-thumbs {
  margin-top: 14px;
  overflow: hidden;
}

.product-slide {
  border-radius: 14px;
  overflow: hidden;
  height: 400px;
}
@media (max-width: 991.98px) {
  .product-slide {
    height: calc(200px + 200 * (100vw - 320px) / 671.98);
    border-radius: calc(6px + 8 * (100vw - 320px) / 671.98);
  }
}
.product-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.thumbs-slide {
  height: 100px;
  border-radius: 14px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .thumbs-slide {
    height: calc(60px + 40 * (100vw - 320px) / 671.98);
    border-radius: calc(6px + 8 * (100vw - 320px) / 671.98);
  }
}
.thumbs-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.swiper-button-prev, .swiper-button-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .swiper-button-prev, .swiper-button-next {
    width: calc(50px + 10 * (100vw - 320px) / 447.98);
    height: calc(50px + 10 * (100vw - 320px) / 447.98);
  }
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: #f7f7f7;
}
.swiper-button-prev img, .swiper-button-next img {
  width: 22px;
}
@media (max-width: 767.98px) {
  .swiper-button-prev img, .swiper-button-next img {
    width: calc(18px + 4 * (100vw - 320px) / 447.98);
  }
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 0;
}

.swiper-button-prev {
  left: 24px;
}
@media (max-width: 991.98px) {
  .swiper-button-prev {
    left: calc(14px + 10 * (100vw - 320px) / 671.98);
  }
}
.swiper-button-prev img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper-button-next {
  right: 24px;
}
@media (max-width: 991.98px) {
  .swiper-button-next {
    right: calc(14px + 10 * (100vw - 320px) / 671.98);
  }
}
.swiper-button-next img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  color: #1A2E47;
}
.product-price__label {
  font-weight: 400;
  font-size: 20px;
}
@media (max-width: 991.98px) {
  .product-price__label {
    font-size: calc(12px + 8 * (100vw - 320px) / 671.98);
  }
}
.product-price__price {
  font-weight: 700;
  font-size: 40px;
}
@media (max-width: 991.98px) {
  .product-price__price {
    font-size: calc(21px + 19 * (100vw - 320px) / 671.98);
  }
}

.product-aside__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 14px;
  margin: 48px 0;
}
.product-aside__descr-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 114%;
  color: #8E8E8E;
}
@media (max-width: 991.98px) {
  .product-aside__descr-title {
    font-size: calc(18px + 2 * (100vw - 320px) / 671.98);
  }
}
.product-aside__descr-paragraph {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  overflow: auto;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 991.98px) {
  .product-aside__descr-paragraph {
    font-size: calc(14px + 4 * (100vw - 320px) / 671.98);
  }
}

.product-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 14px;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}
@media (max-width: 767.98px) {
  .product-actions {
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    padding: 22px 30px;
    border-top: 1px solid #1E1E1E;
    padding-left: calc(25px + 5 * (100vw - 320px) / 447.98);
    padding-right: calc(25px + 5 * (100vw - 320px) / 447.98);
  }
}
.product-actions__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}
@media (max-width: 991.98px) {
  .product-actions__actions {
    gap: calc(19px + 7 * (100vw - 320px) / 671.98);
  }
}
.product-actions__actions button {
  font-weight: 400;
  font-size: 18px;
}
.product-actions__button {
  height: 60px;
  width: 100%;
  padding: 0 12px;
  font-weight: 600;
  font-size: 18px;
}
.product-actions__button svg {
  height: 20px;
  margin-right: 10px;
}
.product-actions__button_mail:hover path {
  fill: #1A2E47;
  stroke: #FFFFFF;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  max-width: 735px;
  width: 50vw;
}
@media (max-width: 767.98px) {
  .product-info {
    padding-top: 0;
  }
}
@media (max-width: 991.98px) {
  .product-info {
    width: 45vw;
  }
}
@media (max-width: 767.98px) {
  .product-info {
    max-width: none;
    width: auto;
  }
}
.product-info__spoiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-info__icon {
  margin-right: 14px;
}
.product-info__icon img {
  height: 24px;
}
@media (max-width: 991.98px) {
  .product-info__icon img {
    height: calc(15px + 9 * (100vw - 320px) / 671.98);
  }
}
.product-info__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #424242;
  margin-right: auto;
}
@media (max-width: 991.98px) {
  .product-info__title {
    font-size: calc(18px + 6 * (100vw - 320px) / 671.98);
  }
}
.product-info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  -webkit-transition: gap ease-in-out 0.2s;
  transition: gap ease-in-out 0.2s;
}
.product-info__headline {
  font-weight: 600;
  font-size: 20px;
  line-height: 0%;
  opacity: 0;
  color: #424242;
  -webkit-transition: opacity ease-in-out 0.2s, line-height ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s, line-height ease-in-out 0.2s;
}
@media (max-width: 991.98px) {
  .product-info__headline {
    font-size: calc(16px + 4 * (100vw - 320px) / 671.98);
  }
}
.product-info__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 0;
  color: #1E1E1E;
}
@media (max-width: 991.98px) {
  .product-info__paragraph {
    font-size: calc(14px + 4 * (100vw - 320px) / 671.98);
  }
}
.product-info__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 0;
  -webkit-transition: gap ease-in-out 0.2s;
  transition: gap ease-in-out 0.2s;
}

.spoiler__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.spoiler__icon {
  margin-left: 40px;
}
.spoiler__icon img {
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  width: 22px;
}
@media (max-width: 991.98px) {
  .spoiler__icon img {
    width: calc(16px + 6 * (100vw - 320px) / 671.98);
  }
}
.spoiler__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transition: margin ease-in-out 0.2s, gap ease-in-out 0.2s;
  transition: margin ease-in-out 0.2s, gap ease-in-out 0.2s;
  margin-top: 0px;
  gap: 0px;
  pointer-events: none;
}
@media (min-width: 767.98px) {
  .spoiler__body {
    padding-left: 20px;
  }
}
.spoiler__body .paragraph {
  line-height: 0%;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.2s, line-height ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s, line-height ease-in-out 0.2s;
}

.info-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0px 0;
  -webkit-transition: padding ease-in-out 0.2s, border ease-in-out 0.2s;
  transition: padding ease-in-out 0.2s, border ease-in-out 0.2s;
  gap: 30px;
  border-bottom: 0px solid transparent;
}
.info-table__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 0%;
  color: #424242;
  -webkit-transition: opacity ease-in-out 0.2s, line-height ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s, line-height ease-in-out 0.2s;
  opacity: 0;
}
@media (max-width: 991.98px) {
  .info-table__title {
    font-size: calc(14px + 4 * (100vw - 320px) / 671.98);
  }
}
.info-table__value {
  font-weight: 400;
  font-size: 18px;
  line-height: 0%;
  color: #424242;
  -webkit-transition: opacity ease-in-out 0.2s, line-height ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s, line-height ease-in-out 0.2s;
  opacity: 0;
}
@media (max-width: 991.98px) {
  .info-table__value {
    font-size: calc(14px + 4 * (100vw - 320px) / 671.98);
  }
}

.spoiler._opened .spoiler__body {
  pointer-events: all;
  margin-top: 50px;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .spoiler._opened .spoiler__body {
    margin-top: calc(24px + 26 * (100vw - 320px) / 671.98);
  }
}
.spoiler._opened .spoiler__body .paragraph {
  opacity: 1;
  line-height: 119%;
}
@media (max-width: 991.98px) {
  .spoiler._opened .spoiler__body {
    gap: calc(24px + 6 * (100vw - 320px) / 671.98);
  }
}
.spoiler._opened .spoiler__icon img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.spoiler._opened .product-info__section {
  gap: 14px;
}
.spoiler._opened .product-info__headline {
  line-height: 120%;
  opacity: 1;
}
.spoiler._opened .product-info__table {
  gap: 24px;
}
.spoiler._opened .info-table__row {
  padding: 14px 0;
  border-bottom: 1px solid #000000;
}
.spoiler._opened .info-table__row:first-child {
  padding-top: 0px;
}
.spoiler._opened .info-table__title, .spoiler._opened .info-table__value {
  line-height: 119%;
  opacity: 1;
}

@media (max-width: 767.98px) {
  .product-actions.hide {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}